---
title: Zhiyong Cui - Homepage
timezone: Asia/Shanghai
collections:
  portfolio:
    title: Portfolio
    output: true
    permalink: "/:collection/:path/"
  posts:
    title: Posts
    output: true
  publications:
    title: Publications
    output: true
    permalink: "/:collection/:path/"
  talks:
    title: Talks
    output: true
    permalink: "/:collection/:path/"
  teaching:
    title: Teaching
    output: true
    permalink: "/:collection/:path/"
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: single
    author_profile: true
    read_time: true
    comments: true
    share: true
    related: true
- scope:
    path: ''
    type: pages
  values:
    layout: single
    author_profile: true
- scope:
    path: ''
    type: teaching
  values:
    layout: single
    author_profile: true
    share: true
    comments: true
- scope:
    path: ''
    type: publications
  values:
    layout: single
    author_profile: true
    share: true
    comments: true
- scope:
    path: ''
    type: talks
  values:
    layout: talk
    author_profile: true
    share: true
locale: en-US
title_separator: "-"
name: Zhiyong Cui
description: Associate Professor, School of Transportation Science and Engineering, Beihang University
url: "https://zhiyongc.github.io"
baseurl: ''
repository: zhiyongc.github.io
teaser: Zhiyong.jpg
breadcrumbs: false
words_per_minute: 160
future: true
read_more: disabled
talkmap_link: false
comments:
  provider: 
  disqus:
    shortname: 
  discourse:
    server: 
  facebook:
    appid: 
    num_posts: 
    colorscheme: 
staticman:
  allowedFields:
  - name
  - email
  - url
  - message
  branch: gh-pages
  commitMessage: New comment.
  filename: comment-{@timestamp}
  format: yml
  moderation: true
  path: _data/comments/{options.slug}
  requiredFields:
  - name
  - email
  - message
  transforms:
    email: md5
  generatedFields:
    date:
      type: date
      options:
        format: iso8601
atom_feed:
  path: 
google_site_verification: 
bing_site_verification: 
alexa_site_verification: 
yandex_site_verification: 
twitter:
  username: 
facebook:
  username: 
  app_id: 
  publisher: 
og_image: 
social:
  type: 
  name: 
  links: 
analytics:
  provider: google-universal
  google:
    tracking_id: 
google_analytics: UA-132678836-1
show_google_analytics: true
google_analytics_code: UA-132678836-1
use_logo: true
logo: "/assets/UW_square.png"
author:
  name: Zhiyong Cui
  avatar: Zhiyong.jpg
  bio: "<p> Associate Professor <br /> Beihang University <br />"
  location: 
  employer: Beihang University, China
  googlescholar: https://scholar.google.com/citations?user=kKHcRDkAAAAJ&hl=en
  email: zhiyongc@buaa.edu.cn
  CV: 
  researchgate: 
  uri: 
  bitbucket: 
  codepen: 
  dribbble: 
  flickr: 
  facebook: 
  foursquare: 
  github: zhiyongc
  google_plus: 
  keybase: 
  instagram: 
  lastfm: 
  linkedin: 
  orcid: 
  pinterest: 
  soundcloud: 
  stackoverflow: 
  steam: 
  tumblr: 
  twitter: 
  vine: 
  weibo: 
  xing: 
  youtube: 
  wikipedia: 
  blog: 
include:
- ".htaccess"
- _pages
- files
exclude:
- "*.sublime-project"
- "*.sublime-workspace"
- ".asset-cache"
- ".bundle"
- ".jekyll-assets-cache"
- ".sass-cache"
- assets/js/plugins
- assets/js/_main.js
- assets/js/vendor
- Capfile
- CHANGELOG
- config
- Gemfile
- Gruntfile.js
- gulpfile.js
- LICENSE
- log
- node_modules
- package.json
- Rakefile
- README
- tmp
keep_files:
- ".git"
- ".svn"
encoding: utf-8
markdown_ext: markdown,mkdown,mkdn,mkd,md
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
sass:
  sass_dir: _sass
  style: compressed
permalink: "/:categories/:title/"
plugins:
- jekyll-paginate
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
- jekyll-redirect-from
- jekyll-seo-tag
whitelist:
- jekyll-paginate
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
- jemoji
category_archive:
  type: liquid
  path: "/categories/"
tag_archive:
  type: liquid
  path: "/tags/"
compress_html:
  clippings: all
  ignore:
    envs: development
